h1{
    text-align: center;
    margin: 20px;
}
main{
    text-align: center;
}
.btnPosition{
    text-align: center;
 }
 .btn{
     width: 200px;
 }
 .image{
     margin-top: 20px;
     text-align: center;
     
 }
 img{
     width: 200px;
     border-radius: 50%;
 }

 footer{
     text-align: center;
 }


 .animate__animated.animate__backInUp {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }