<h1 class="animate__animated animate__backInDown">Home</h1>


<main>
    <div >
        <h3 class="animate__animated animate__backInDown">Congrats You're Logged !!!</h3>
    </div>
</main>

<div class="btnPosition">
<button class="btn animate__animated animate__backInUp"  mat-raised-button color="primary" (click)="logout()">LogOut</button>
</div>

<div class="image">
<img class='animate__animated animate__backInUp' src="../../assets/unnamed.jpg" alt="">
</div>

<footer class='animate__animated animate__backInUp'>
    <address>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, tenetur suscipit! Temporibus atque laboriosam ratione inventore vel, itaque ipsum magnam et corrupti facilis porro quod neque vero! Totam, iste id!</address>
</footer>